/**
All Transitions
*/
a,input,img,textarea,button,
.partnersSlideItemInner,svg,.esSlideItemInner strong,.partnersSlideItemInner strong{
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.scale{
	transform: scale(1.1);
	-ms-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-o-transform: scale(1.1);
}

/**
All Hovers
*/
a:focus,button:focus,input:focus,textarea:focus{
	outline: none;
}
a:hover{
	text-decoration: none;
}
nav.main-nav ul li a:hover,
nav.main-nav ul li.current-menu-item a{
	color:#fff;
}
.esSlideItemInner:hover strong,
.partnersSlideItemInner:hover strong{
	color: #47A348;
}

/**
Background management
*/
.header{
    position: relative;
    z-index: 6;    
}
.home-banner{
	position: relative;
	z-index: 5;
}
.headerBanner{
	position: relative;
}
.hb-bg-overlay{
	position: absolute;
	top: 0;
	bottom: 139px;
	left: 0;
	right: 0;
  	background: -webkit-linear-gradient(180deg, #FFFFFF 13.45%, rgba(255, 255, 255, 0) 38.51%), #F5F6F8;
	background: linear-gradient(180deg, #FFFFFF 13.45%, rgba(255, 255, 255, 0) 38.51%), #F5F6F8;
	transform: rotate(180deg);
	z-index: 2;
}
.hb-bg-vector{
	position: absolute;
	height: 100%; 
	width: 100%; 
	padding: 0;
	background: url(../images/Vector-new.png) no-repeat;
    background-position: -360px -40px;
    z-index: 2;
    background-size: 0 0;
    overflow: hidden;
}
.hb-bg-vector svg {
    position: absolute;
    display: block;
    left: -25%;
}
.hb-bg-particales{
	position: absolute;
	top: 0;
	bottom: 139px;
	left: 0;
	right: 0;
	z-index: 2;
	width: 75%;
    height: 500px;
}
.home-con-bg-ctlr{
	position: relative;
	overflow: hidden;
}
.home-con-btm-wave-img{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 30px;
	z-index: 1;

}
.home-con-btm-wave-overlay-bg{
	background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #F5F6F8;
	transform: rotate(-80.61deg);
	position: absolute;
	left: -320px;
	bottom: 0;
	z-index: 2;
	right: -826px;
	height: 1400px;
}

.position-rltv-10{
	position: relative;
	z-index: 10;
}
.home-con-top-wave-img{
	position: absolute;
	right: -550px;
	left: 0;
	top: 0;
	z-index: 1;

}

.hc-bg2 {
    position: absolute;
    top: 250px;
    bottom: 0;
    width: 100%;
    right: 0;
    height: 1240px;
}
.hc-bg2 svg{
    left: 47%;
    position: absolute;
    width: 50%;
    /* right: -300px; */
    width: 100%;
    height: 100%;
}
#vtabout-gridiant {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 250px;
/*    max-width: 1400px;
    left: 50%;
    transform: translateX(-50%);*/
}
#faqParticles{
    position: absolute;
    height: 100%;
    width: 100%;
    top: -250px;	
}
body{
	position: relative;
}
.fullpage{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
}

.middleBg,
.bottomBg{
	position: absolute;
	width: 100%;
}

.middleBg {
    top: 1300px;
    height: 1245px;
    left: 51%;
}
.innerPage .topBg svg{
    position: absolute;
    width: 100%;
    height: auto;
}
.innerPageParticles.hb-bg-particales{
	height: 500px;
	bottom: auto;
}
.innerPage .topMbg svg,
.homeTopBg svg,
.mobileSVG svg{
    position: absolute;
    width: 100%;
    height: auto;
}

.homeTopBg svg.desktopSVG{
    position: absolute;
    min-width: 100%;
    height: auto;
    max-height: 1600px;
    top: -70px;
}
.homeTopBg svg.mobileSVG{
    position: absolute;
    width: 100%;
    height: auto;
}

.middleBg svg.mobileSVG{
    position: absolute;
    width: 100%;
    height: auto;
}
.bottomBg{
    top: 3750px;
    left: 0;
    right: 0;	
}
.bottomBg svg.desktopSVG{
    position: absolute;
    width: 150%;
    height: auto;
    transform: translateX(-2%);
}
.bottomBg svg.mobileSVG{
    position: absolute;
    width: 100%;
    height: auto;
}
.hide{
	display: none!important;
}

/**
Bg postion on diffrent pages
*/
.learmMore .middleBg{
	top: 1600px;
}

.aboutUs .middleBg {
    top: 1200px;
    height: 1245px;
    left: 40%;
}
.aboutUs .bottomBg {
    top: 2050px;
}
.aboutUs .bottomBg svg.desktopSVG {
    position: absolute;
    width: 100%;
    height: auto;
    transform: none;
}
.faqOverview .middleBg{
    top: 1600px;
    height: 1245px;
    left: 48%;
}
.walletDark .wdTopBg svg.desktopSVG{
	position: absolute;
    min-width: 100%;
    height: auto;	
}
.walletDark .wdMiddleBg{
    position: absolute;
    left: 0;
    right: 0;
    top: 1270px;
}
.walletDark .wdMiddleBg svg.desktopSVG{
	position: absolute;
    width: 100%;
    height: auto;
}
.walletDark .wdBottomBg {
    position: absolute;
    left: 0;
    right: 0;
    top: 2080px;
}
.walletDark .wdBottomBg svg.desktopSVG{
	position: absolute;
	right: 0;
	width: auto;
	height: auto;
}
.walletDark.adExwd .wdBottomBg {
    position: absolute;
    left: 0;
    right: 0;
    top: 1680px;
}
.walletDark.adExwd .wdBottomBg {
    position: absolute;
    left: 0;
    right: 0;
    top: 1680px;
}
.walletDark.edExwd .wdBottomBg {
    position: absolute;
    left: 0;
    right: 0;
    top: 900px;
}
.walletDark.edExwd .wdBottomBg svg.desktopSVG {
    position: absolute;
    right: -100px;
    width: auto;
    height: auto;
}
.contactPage .middleBg {
    top: 920px;
    height: 1245px;
}
/**
Sections z-index
*/
.innerpage-con-wrap,
.footer-top-dsc-sec-wrp,
.footer-wrp{
	position: relative;
	z-index: 9;
}
.pageElements{
    position: relative;
    z-index: 9;    
}
@media(max-width: 767px){
.show-xs {
    display: block!important;
}
.hide-xs {
    display: none!important;
}
	.hb-bg-vector svg {
	    position: absolute;
	    display: block;
	    left: auto;
	    right: -25%;
	    height: 100%;
	    width: auto;
	}
	.middleBg {
	    top: 2500px;
	    height: 1245px;
	    left: 0;
	}
	.bottomBg {
	    top: 4750px;
	}
	.innerPage .middleBg {
	    top: 3600px;
	}
	.innerPage .bottomBg{
		top: 5700px;
	}
/**
Bg postion on diffrent pages
*/
	.learmMore .middleBg{
		top: 2600px;
	}
}