.faq-detalis-content-sec-wrp{
	padding-top: 55px;
	padding-bottom: 90px;
}
.faq-detalis-block{
	max-width: 1000px;
	width: 100%;
	margin: 0 auto;
}
.faq-back-btn{
	padding-left: 25px;
	padding-bottom: 55px;
}
.faq-back-btn a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	font-size: 16px;
	line-height: 18px;
	color: #66697A;
	font-weight: 600;
	text-transform: uppercase;
	padding-left: 35px;
	position: relative;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.faq-back-btn a:after{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	background: url(../images/back-btn-icon.svg);
	background-repeat: no-repeat;
	background-size: 24px 17px;
	width: 24px;
	height: 18px;
}
.faq-back-btn a:hover{
	color: #03b605;
}
.faq-detalis-dsc-wrp{
	background: #FFFFFF;
	box-shadow: 0px 18px 30px #F0F2F6;
	border-radius: 6px;
	padding: 70px 50px;
}
.faq-detalis-dsc-wrp h3{
	margin: 0;
	margin-bottom: 25px;
}
.faq-detalis-dsc-wrp p{
	margin-bottom: 25px;
}