.footer-top-dsc-wrp{
	background: #47a348;
	padding: 62px 15px 40px;
	text-align: center;
 	box-shadow: 0px 18px 30px #F0F2F6;
	border-radius: 6px;
}
.footer-top-dsc{
	max-width: 905px;
	width: 100%;
	margin: 0 auto;
	color: #fff;
	line-height: 24px;
}
.footer-top-dsc p{
	margin-bottom: 20px;
}
.footer-top-dsc h3 span{
	display: inline-block;
    vertical-align: baseline;
    padding: 0 0 0 53px;
    background: url(../images/hrt-icon-white.svg);
    background-repeat: no-repeat;
    background-size: 45px auto;
}
.footer-top-dsc h3 i{
	width: 53px;
    height: 42px;
    display: inline-block;
    vertical-align: baseline;
    background: url(../images/hrt-icon-white.svg);
    background-repeat: no-repeat;
    background-size: 45px auto;
    position: relative;
    top: 11px;
}

.footer-top-dsc h3 {
    margin: 0;
    margin-bottom: 20px;
    color: #fff;
}
.footer-top-dsc a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	font-size: 16px;
	line-height: 18px;
	font-weight: 600;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	border: 2px solid #FFFFFF;
	box-sizing: border-box;
	border-radius: 6px;
	padding: 18px 65px 16px;
}
.footer-top-dsc a:hover{
	color: #e0a602;
}

/*
-------------------------
footer-wrp
-------------------------
*/
.ftr-col-innr {
    border-top: 3px solid #F8F9FA;
    padding-top: 75px;
    padding-bottom: 90px;
}
.drk-ftr-col-inr{
	border-top: 3px solid rgba(248, 249, 250, 0.04);
}
.ftr-logo-item{
	float: left;
	width: 25%;
}
.ftr-menu-item{
	float: left;
	width: 56%;
}
.ftr-socail-item {
	float: left;
	width: 19%;
}
.ftr-logo{
	float: left;
}
.ftr-logo a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	max-width: 120px;
}
.ftr-logo a img{
	width: 100%;
}
.ftr-menu-item ul{
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 40%;
}
ul.ftr-main-menu{
	float: left;
	width: 60%;
}
ul.ftr-main-menu li{
	padding-right: 20px;
	float: left;
	width: 50%;
}

.ftr-menu-item ul li{
	padding-bottom: 20px;
}
.ftr-menu-item ul li a{
	text-decoration: none;
	display: inline-block;
	vertical-align: baseline;
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	color: #66697A;
	padding-bottom: 5px;
}
.ftr-menu-item ul li a:hover{
	color: #04b505;
}
.ftr-socail-icon{
	float: right;
}
.ftr-socail-icon ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.ftr-socail-icon ul li{
	float: left;
	padding: 0 12px;
}
.ftr-socail-icon ul li:first-child{
	padding-left: 0;
}
.ftr-socail-icon ul li:last-child{
	padding-right: 0;
}
.ftr-socail-icon ul li a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	font-size: 20px;
	line-height: 20px;
	color: #66697A;
}
.ftr-socail-icon ul li a:hover svg{
	fill: #47a348 !important;
}
.ftr-socail-icon ul li a:hover{
	color: #47a348;
}
.ftr-socail-btn{
	padding-top: 25px;
	float: left;
}
.ftr-socail-btn span,
.ftr-socail-btn a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	font-size: 16px;
	line-height: 18px;
	color:#66697A;
	font-weight: 600;
	text-transform: uppercase;
	border: 2px solid #66697A;
	box-sizing: border-box;
	border-radius: 6px;
	padding: 17px 35px 17px 68px;
	position: relative;
	max-width: 180px;
		transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.ftr-socail-btn span:after,
.ftr-socail-btn a:after{
	content: "";
	position: absolute;
	left: 35px;
	top: 10px;
	background: url(../images/ftr-socail-btn-icon.png);
	background-repeat: no-repeat;
	background-size: 30px 30px;
	width: 30px;
	height: 30px;
}
.ftr-socail-btn a:hover{
	background-color: #47A348;
	border-color: #47A348;
	color: #fff;
}
.ftr-socail-btn a:hover:after{
	background: url(../images/ftr-socail-btn-icon-white.png);
	background-repeat: no-repeat;
	background-size: 30px 30px;
}


.ftr-btm-innr {
	padding: 40px 0 40px;
}
.ftr-btm-rgt,
.ftr-btm-copy-right,
.ftr-btm-menu{
	width: 25%;
	float: left;
}
.ftr-btm-menu{
	width: 50%;
}
.ftr-btm-copy-right p {
	font-size: 16px;
	line-height: 21px;
	color: #C8C8C8;
	margin: 0;
}
.ftr-btm-menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
.ftr-btm-menu ul li{
	display: inline-block;
	vertical-align: baseline;
}
.ftr-btm-menu ul li a {
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	color: #C8C8C8 !important;
	font-size: 16px;
	line-height: 18px;
	position: relative;
	padding: 0 20px;
}

.ftr-btm-menu ul li a:after{
    content: "";
    position: absolute;
    right: -3px;
    top: 9px;
    background: #cfcfcf;
    width: 6px;
    height: 1px;
}
.ftr-btm-menu ul li:last-child a:after{
	content: none;
}
.ftr-btm-rgt{
	float: right;
	text-align: right;
}
.ftr-btm-rgt a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	color: #C8C8C8;
	font-size: 16px;
	line-height: 18px;
	text-align: right;
}
.ftr-btm-rgt a:hover,
.ftr-btm-menu ul li a:hover{
	color: #00ab01 !important;
}
.ftr-twiter-icon-svg{
	position: relative;
	top: 2px;
}
/*
----------------------
Responsive css
----------------------
*/
/*----- max-width 1399px -----*/
@media(max-width: 1399px){

	.ftr-socail-icon ul li {
	    padding: 0 10px;
	}
}
/*----- max-width 1199px -----*/
@media(max-width: 1199px){
	.hide-lg{
		display: none!important;
	}
	.show-lg{
		display: block!important;
	}
	.ftr-logo-item {
	    width: 20%;
	}
	.ftr-menu-item {
	    width: 57%;
	}
	.ftr-socail-item {
	    width: 23%;
	}
	.ftr-menu-item ul {
	   
	}
	.ftr-menu-item ul{
		width: 48%;
	}
	ul.ftr-main-menu{
		width: 52%;
	}
	.ftr-col-innr{
		padding-bottom: 50px;
	}
	


}

/*----- max-width 991px -----*/
@media(max-width: 991px){
	.hide-md{
		display: none!important;
	}
	.show-md{
		display: block!important;
	}
	.ftr-logo-item {
	    width: 100%;
	}
	.ftr-logo {
	    float: none;
	    text-align: center;
	    padding-bottom: 70px;
	}
	.ftr-col-innr {
	    padding-top: 55px;
	    padding-bottom: 60px;
	    margin-left: -15px;
	    margin-right: -15px;
	}
	.ftr-menu-item {
	    width: 100%;
	}
	.ftr-menu-item ul {
	    padding-right: 0;
	    float: none;
	    text-align: center;
	    width: 100%;
	}
	ul.ftr-main-menu {
	    width: 100%;
	}
	ul.ftr-main-menu li,
	.ftr-menu-item ul li{
		width: 100%;
		padding-left: 20px;
		padding-right: 20px;
	}
	.ftr-menu-item ul li a{
		padding-bottom: 15px;
	}
	.ftr-socail-item {
	    width: 100%;
	}
	.ftr-socail-icon {
	    float: none;
	    text-align: center;
	    padding-top: 30px;
	}
	.ftr-socail-icon ul li {
	    float: none;
	    display: inline-block;
	    vertical-align: baseline;
	}
	.ftr-socail-btn {
	    padding-top: 25px;
	    float: none;
	}
	.ftr-btm-rgt,
	.ftr-btm-copy-right,
	.ftr-btm-menu{
		width: 100%;
		float: none;
		text-align: center;
	}
	.ftr-btm-menu{
		width: 100%;
	}
	.ftr-btm-copy-right{
		padding-bottom: 30px;
	}
	.ftr-btm-menu{
		padding-bottom: 25px;
	}
}

/*----- max-width 767px -----*/
@media(max-width: 767px){
	.hide-sm{
		display: none!important;
	}
	.show-sm{
		display: block!important;
	}
	.footer-top-dsc a {
	    padding: 18px 40px 16px;
	}
	.ftr-btm-innr{
		padding-bottom: 180px;
	}
}


/*----- max-width 575 -----*/
@media(max-width: 575px){
	.hide-xs{
		display: none!important;
	}
	.show-xs{
		display: block!important;
	}
	.footer-top-dsc-wrp {
	    padding: 40px 15px 40px;
	   
	}
	.ftr-btm-menu ul li:first-child a{
		padding-left: 0;
	}
	.ftr-btm-menu ul li:last-child a{
		padding-right: 0;
	}
	.footer-top-dsc h3 i {
	    width: 49px;
	    height: 36px;
	    background-size: 40px auto;
	    top: 6px;
	}
}



/*----- max-width 439 -----*/
@media(max-width: 479px){
	.footer-top-dsc a {
	    padding: 18px 15px 16px;
	    font-size: 14px;
	    line-height: 16px;
	}

}


/*----- max-width 369 -----*/
@media(max-width: 359px){

}