/**
Start header
*/
.header{
	background: linear-gradient(181.52deg, rgba(255, 255, 255, 0.32) 10.01%, rgba(255, 255, 255, 0) 97.53%);
}
.hdr-top-inr{
	padding-top: 18px;
	padding-bottom: 20px;
}
.logo{
	float: left;
}
.logo a{
	display: inline-block;
	vertical-align: baseline;
	color: initial;
	text-decoration: none;
}
/*
--------------------------
	Nav Menu Css
--------------------------
*/
nav.main-nav {
    float: right;
    padding-top: 50px;
}

nav.main-nav  ul{
	list-style: none;
	margin: 0;
	padding: 0;
	float: right;
}

nav.main-nav ul li a{
	display: inline-block;
	vertical-align: baseline;
	color: #66697A;
	position: relative;
}
.drk-header nav.main-nav ul li a{
	color: #fff;
}

nav.main-nav > ul{
	float: right;
}
nav.main-nav > ul > li{
	display: inline-block;
	vertical-align: baseline;
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	padding: 0 25px 0;
	position: relative;
}
nav.main-nav > ul > li:last-child{
	padding-right: 0;
}
nav.main-nav > ul > li.menu-item-has-children > a{
	position: relative;
}
nav.main-nav > ul > li.menu-item-has-children > a:before {
    content: "\f107";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    right: -20px;
    position: absolute;
    font-size: 16px;
}
nav.main-nav > ul > li.menu-item-has-children > a:hover:before,
nav.main-nav > ul > li.menu-item-has-children:hover > a:before{
	content: "\f106";
}
nav.main-nav > ul > li:first-child{
	padding-left: 0;
}

nav.main-nav > ul > li > a{
	padding-bottom: 23px;
	position: relative;
}

nav.main-nav li.menu-item-has-children > ul.sub-menu{
	position: absolute;
	top: 100%;
	background: #f7fafc;
	width: 200px;
	left: 0;
	z-index: 99;
	padding: 30px 30px 48px 30px;
	top: 100%;
	transform: translateY(-20px);
	-ms-transform: translateY(-20px);
	-webkit-transform: translateY(-20px);
	-o-transform: translateY(-20px);
	transition: all .5s;
	-ms-transition: all .5s;
	-webkit-transition: all .5s;
	border-top: 3px solid #04b707;
	visibility: hidden;
	opacity: 0;
	box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.16);	
	-ms-box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.16);	
	-webkit-box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.16);		
}
nav.main-nav ul li.menu-item-has-children ul li {
	padding: 5px 0;
	width: 100%;
	text-align: left;
	margin-bottom: 8px;
	text-transform: capitalize;
}
nav.main-nav li.menu-item-has-children ul.sub-menu a{
	padding: 2px 0;
	font-size: 16px;
	line-height: 18px;
	color: #66697A;
	transition: none;
	text-decoration: none;
}
nav.main-nav li.menu-item-has-children:hover > ul.sub-menu{
	visibility: visible;
	opacity: 1;
	z-index: 9;
	-ms-transform: translateY(0%);
	-webkit-transform: translateY(0%);
	transform: translateY(0%);
	-webkit-transition-delay: 0s, 0s, 0.3s;
	-ms-transition-delay: 0s, 0s, 0.3s;
	transition-delay: 0s, 0s, 0.3s;
}
nav.main-nav > ul > li > a:hover::after{
	opacity: 1;
}
nav.main-nav > ul > li:hover a::after {
	opacity: 1;
}
nav.main-nav > ul > li:hover > a {
	color: #04b707;
}
nav.main-nav li.menu-item-has-children ul.sub-menu a:hover,
nav.main-nav li:not(.menu-item-has-children) a:hover {
	color: #04b707;
}

.header-btm{
	background: linear-gradient(90deg, #F5F6F8 0%, rgba(255, 255, 255, 0.79) 48.44%, #F5F6F8 100%), #F8F8F8;
	margin-left: 4%;
	margin-right: 4%;
}
.drk-header .hdr-btm-inr{
	background: linear-gradient(90deg, #141C28 0%, #0E1520 48.44%, #072C10 100%), #F8F8F8;
}
.hdr-btm-menu{
	text-align: center;
	padding-top: 35px;
}
.hdr-btm-menu ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.hdr-btm-menu ul li{
	display: inline-block;
	vertical-align: baseline;
	font-size: 16px;
	line-height: 18px;
	font-weight: 600;
	padding: 0 48px 35px;
	position: relative;
}
.hdr-btm-menu ul li:first-child{
	padding-left: 0;
}
.hdr-btm-menu ul li:last-child{
	padding-right: 0;
}
.hdr-btm-menu ul li a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	color: #66697A;
	text-transform: uppercase;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}
.drk-header .hdr-btm-menu ul li a{
	color: #fff;
}
.hdr-btm-menu ul li:after{
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	-ms-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	width: 50px;
	height: 5px;
	background: #47a348;
	text-align: center;
	opacity: 0;
	visibility: hidden;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.hdr-btm-menu ul li.current-menu-item a,
.hdr-btm-menu ul li a:hover{
	color: #47a348;
}
.hdr-btm-menu ul li.current-menu-item:after{
	opacity: 1;
	visibility: visible;
}
.hdr-btm-menu ul li:hover:after{
	opacity: 1;
	visibility: visible;
}

/*------ responsive nav ----*/
.nav-opener {
    cursor: pointer;
    float: left;
    width: 56px;
    height: 56px;
    background: #2B323D;
	box-shadow: 0px 18px 30px #F0F2F6;
	border-radius: 50px;
	padding: 15px 14px;
}
.nav-opener span{
	-webkit-transition:all .2s;	/* Chrome, Safari, Opera */
	-ms-transition:all .2s;	/* IE 9 */
	-moz-transition:all .2s; /* Standard syntax */
	transition:all .2s;	
}
.opener-inner {
    position: relative;
	z-index: 1;
}
.opener-inner span{
	display: block;
	background: #fff;
	height: 2px;
	transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	position: absolute;
	left: 0;
	top: 0;
	width: 28px;
}
.opener-inner span:nth-child(2){
	top: 10px;
}
.opener-inner span:nth-child(3){
	top: 20px;
}

.opener-inner.menu-expend{
	position: relative;
}
.menu-expend span:nth-child(1){
  position: absolute;
  top: 44%;
  transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin-bottom: 0;
  width: 100%;
}
.menu-expend span:nth-child(2){
	opacity: 0;
}
.menu-expend span:nth-child(3) {
  position: absolute;
  top: 9px;
  transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  width: 100%;
}


/*
----------------------
 Responsive Css
----------------------
*/
/*----- max-width 1199px -----*/
@media(max-width: 1599px){
	.header-btm {
	    margin-left: 1%;
	    margin-right: 1%;
	}
}
/*----- max-width 1199px -----*/
@media(max-width: 1199px){
	.hide-lg{
		display: none!important;
	}
	.show-lg{
		display: block!important;
	}
	nav.main-nav > ul > li {
	    padding: 0 20px 0;
	}
	.hdr-btm-menu ul li {
	    padding: 0 30px 35px;
	}

}

/*----- max-width 991px -----*/
@media(max-width: 991px){
	.hide-md{
		display: none!important;
	}
	.show-md{
		display: block!important;
	}
	nav.main-nav > ul > li {
	    padding: 0 12px 0;
	    font-size: 15px;
	    line-height: 17px;
	}
	.hdr-btm-menu ul li {
	    padding: 0 20px 35px;
	    font-size: 15px;
	    line-height: 17px;
	}
}

/*----- max-width 767px -----*/
@media(max-width: 767px){
	.hide-sm{
		display: none!important;
	}
	.show-sm{
		display: block!important;
	}
	.logo {
	    float: none;
	    text-align: center;
	}
	nav.main-nav {
	    position: absolute;
	    top: 0;
	    right: 0;
	    display: none;
	    z-index: 2;
	    background: #47a348;
	    padding: 65px 20px 160px 20px !important;
	    max-width: 335px;
	    width: 100%;
	}

	nav.main-nav li.menu-item-has-children > ul.sub-menu{
		padding-left: 0!important;
		padding-right: 0!important;
	}
	nav.main-nav > ul > li {
	    display: block;
	    margin-right: 0 !important;
	    margin-left: 0 !important;
	    padding-bottom: 17px;
	    float: none !important;
	    text-align: right;
	    padding-right: 0;
	    font-size: 20px;
	    line-height: 24px;
	    font-weight: 500;
	}
	nav.main-nav > ul > li > a{
		color:#fff;
		padding-bottom: 10px !important;
		position: relative;
	}
	nav.main-nav ul li a{
		color: #fff;
	}
	nav.main-nav ul li.current-menu-item a:hover,
	nav.main-nav > ul > li > a:hover{
		color: #0e857b;
	}

	header nav.main-nav > ul > li::after,
	header nav.main-nav > ul > li a::before {
		content: none;
	}
	nav.main-nav > ul > li.menu-item-has-children > a:hover:after{
		content: none;
	}
	nav.main-nav li.menu-item-has-children > ul.sub-menu {
		position: static;
		top: 100%;
		background: #ff0000;
		width: 100%;
		left: 0;
		z-index: 20;
		padding: 0px 10px 10px 10px;
		top: 100%;
		transform: translateY(0);
		-ms-transform: translateY(0);
		-webkit-transform: translateY(0);
		-o-transform: translateY(0);
		visibility: visible;
		opacity: 1;
		max-width: 100%;
		margin-left: auto;
		margin-right: auto;
		text-align: right;
		background: transparent;
		border: none;
		display: none;
		transition: none;
		box-shadow:none;
	}
	.header nav.main-nav > ul > li:first-child a{
		border-bottom:none;
	}
	nav.main-nav li.menu-item-has-children > ul.sub-menu li{
		text-align: right;
	}
	nav.main-nav li.menu-item-has-children ul.sub-menu a {
	    font-size: 20px;
	    font-weight: 500;
	    color: #fff;
	}
	nav.main-nav li.menu-item-has-children.brands-menu ul.sub-menu a {
	    font-size: 14px;
	    line-height: 16px;
	    transition: none;
	}
	a.menu-expend-sub{
		color: #0e857b!important;
	}
	nav.main-nav li.menu-item-has-children a.menu-expend-sub{
		padding-bottom: 10px;
	}
	nav.main-nav > ul > li.menu-item-has-children > a:before {
	    right:70px;
	}

	.hdr-btm-menu {
	    text-align: right;
	    padding-top: 45px;
	    float: right;
	    width: 100%;
	    position: relative;
	}
	.hdr-btm-menu:after{
		content: "";
		position: absolute;
		right: 0;
		top: 0;
		width: 51px;
		height: 5px;
		background: rgba(255, 255, 255, 0.15);
	}
	.hdr-btm-menu ul li {
	    padding: 0 0 22px;
	    font-size: 22px;
	    line-height: 24px;
	    font-weight: 600;
	    display: block;
	    text-align: right;
	    padding-right: 0;
	}
	.hdr-btm-menu ul li a{
		color: #fff;
	}
	.hdr-btm-menu ul li:after{
		content: none;
	}
}


/*----- max-width 575 -----*/
@media(max-width: 575px){
	.hide-xs{
		display: none!important;
	}
	.show-xs{
		display: block!important;
	}

}



/*----- max-width 439 -----*/
@media(max-width: 479px){


}


/*----- max-width 369 -----*/
@media(max-width: 359px){

}
