.home-banner{
	padding: 105px 0 140px;
	overflow: hidden;
}
.home-bnr-des{
	padding-top: 30px;
}
.home-bnr-des h1{
	margin-bottom: 35px;
}
.home-bnr-des p{
	margin-bottom: 15px;
}
.home-bnr-des p:first-of-type{
	margin-bottom: 20px;
}
.home-bnr-des p:last-of-type{
	margin-bottom: 25px;
}
.home-bnr-des p strong{
	font-size: 18px;
	line-height: 32px;
	display: inline-block;
	vertical-align: baseline;
	font-weight: 400;
}
.home-bnr-des p em{
	display: inline-block;
	vertical-align: baseline;
	font-style: italic;
	font-weight: 600;
}

.home-bnr-des a,
.map-img-grd-col-des a,
.our-community-des a,
.more-faq-btn a{
	background: linear-gradient(322.78deg, #3C8A3D 2.71%, #47A348 61.2%), #47A348;
	border-radius: 6px;
	min-height: 56px;
	max-width: 373px;
	width: 100%;
	color: #fff;
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	text-transform: uppercase;
	display: flex;
	justify-content:center;
	align-items: center;
	text-align: center;
	padding: 10px;
}

.social-media-platform-sec{
	padding-bottom: 25px;
	overflow: hidden;
}
.map-img-grd-col-des a{
	max-width: 440px;
}
.our-community-des a{
	max-width: 286px;
}
.more-faq-btn a{
	max-width: 286px;
}
.map-img-grd-col{
	text-align: center;
}
.map-img-grd-col strong{
	display: block;
	font-weight: 600;
	font-size: 32px;
	line-height: 24px;
	text-align: center;
	text-transform: uppercase;
	color: #47A348;
	padding-bottom: 50px;
}
.map-img-grd-col strong span{
	color: #565a6b;
	display: inline-block;
	vertical-align: baseline;
}
.map-img-grd-col-des h2{
	margin-bottom: 35px;
}
.map-img-grd-col-des p{
	margin-bottom: 30px;
}

.our-community-sec{
	padding: 65px 0 0 0;
	overflow-x: hidden;
}
.our-community-des{
	padding: 70px 95px 65px 0;
} 
.our-community-des h2{
	margin-bottom: 25px;
}
.our-community-des h2 span{
	display: inline-block;
	vertical-align: baseline;
	padding: 0 0 0 80px;
	background: url(../images/hrt-green.svg);
	background-repeat: no-repeat;
	background-size: 65px auto;

}
.our-community-des p{
	margin-bottom: 30px;
}
.our-community-vdo{
	position: relative;
}
.radius-gren{
	background: linear-gradient(281.18deg, #3C8A3D 2.71%, #47A348 61.2%), #47A348;
	border-radius: 100% 100%;
	width: 424px;
	height: 424px;
	position: absolute;
	right: -155px;
	top: -65px;
}
.video-play {
    position: relative;
}
.video-play a {
    position: relative;
    cursor: pointer;
    display: block;
    overflow: hidden;
    border-radius: 10px;
}
.video-play a i {
    font-size: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    z-index: 3;
}
.video-play a img {
    width: 100%;

}
.video-play a:hover > img{
    transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.vt-sec-hdr{
	text-align: center;
}
.vt-sec-hdr h3{
	margin-bottom: 20px;
}
.partners-4-prosperity-sec .vt-sec-hdr{
	max-width: 905px;
	width: 100%;
	margin: 0 auto;
}
.partners-4-prosperity-sec .vt-sec-hdr p{
	font-size: 16px;
	line-height: 32px;
}

.partnersSlideItem{
	padding: 30px 10px 70px;
}

.partnersSlideItemInner{
	padding: 60px 10px 70px;
	text-align: center;
	box-shadow: 0px 5px 10px rgba(240, 242, 246, 0.7);
	background: #fff;
	position: relative;
}
.partnersSlideItemInner:hover{
	box-shadow: 0px 20px 20px #e9ecf1;
}

.partners-logo-bx{
	min-height: 145px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 15px;
}

.partnersSlideItem strong{
	font-weight: 600;
	font-size: 24px;
	line-height: 28px;
	display: block;
	color: #10303C;
	word-break: break-all;
}
.partners-slider-ctlr{
	overflow: hidden;
	position: relative;
}
.slide-prev-btn,
.slide-next-btn{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	width: 32px;
	height: 32px;
	background-size: 100% auto;
	cursor: pointer;
	z-index: 20;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.slide-prev-btn{
	background: url(../images/prev-gray-icon.svg);
	background-repeat: no-repeat;
	background-position: center center;
	left: 0;
}
.slide-prev-btn:hover{
	background: url(../images/prev-green-icon.svg);
	background-repeat: no-repeat;
	background-position: center center;
}
.slide-next-btn{
	background: url(../images/next-gray-icon.svg);
	background-repeat: no-repeat;
	background-position: center center;
	right: 0;
}
.slide-next-btn:hover{
	background: url(../images/next-green-icon.svg);
	background-repeat: no-repeat;
	background-position: center center;
}
.partners-slider-ctlr .slick-list{
	padding-left: 0;
	padding-right: 0;
	position: relative;
}
/*.partners-slider-ctlr .slick-list:after{
	width: 8px;
	content: '';
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	background: #fff;
	z-index: 1;
}
.partners-slider-ctlr .slick-list:before{
	width: 8px;
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	background: #fff;
	z-index: 1;
}*/
.partnersSlider{
	overflow: hidden;
	padding-left: 63px;
	padding-right: 63px;
}

.partnersSlider .slick-active + .slick-active + .slick-active + .slick-slide + .slick-slide{
	display: none;
}
.partnersSlider .partnersSlideItem.slick-active{
	display: inline-block;
}
.home-vt-faq-sec{
	padding-bottom: 85px;
	overflow: hidden;
}
.home-vt-faq-sec .vt-sec-hdr{
	max-width: 910px;
	margin: 0 auto;
	padding-bottom: 25px;
}
.home-vt-faq-sec .vt-sec-hdr h2{
	margin-bottom: 15px;
}
.vt-faq-grds ul{
	margin: 0 -12px;
	padding-bottom: 30px;
}
.vt-faq-grds ul li{
	float: left;
	width: 50%;
	padding: 12px;
}
.vt-faq-grds ul li:nth-child(2n+1){
	clear: left;
}
.vt-faq-grd-item{
	background: #FFFFFF;
	box-shadow: 0px 18px 30px #F0F2F6;
	border-radius: 6px;
	position: relative;
	padding: 40px 60px 35px 185px;
}
.vt-faq-grd-item i{
	position: absolute;
	left: 0;
	width: 185px;
	text-align: left;
	padding: 30px 10px 0 17px;
	top: 0;
}
.vt-faq-grd-item h6{
	line-height: 1.2;
}
.vt-faq-grd-item h6 a{
	display: inline-block;
	vertical-align: baseline;
	color: #10303C;
}
.vt-faq-grd-item h6 a:hover{
	color: #47A348;
}
.vt-faq-grd-item p{
	margin-bottom: 20px;
}
.vt-faq-grd-item > a{
	border: 2px solid #66697A;
	border-radius: 6px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	max-width: 180px;
	min-height: 48px;
	text-transform: uppercase;
	color: #66697A;
	font-weight: 600;
}
.vt-faq-grd-item > a:hover{
	border-color: #47A348;
	color: #47A348;
}
.more-faq-btn{
	display: flex;
	justify-content: center;
}
.community-we-hdr{
	text-align: center;
	padding-bottom: 30px;
}
.community-we-hdr h3{
	margin-bottom: 0;
}
.community-we-hdr span{
	display: inline-block;
	vertical-align: baseline;
	padding: 10px 75px 10px 0;
    background: url(../images/hrt-green.svg);
    background-repeat: no-repeat;
    background-size: 58px 54px;
    background-position: right 3px center;
}
.community-we-hdr p{
	font-size: 18px;
	line-height: 32px;
}

#newsletter-form #wp-form form{
	max-width: 905px;
	width: 100%;
	margin: 0 auto;
	margin-bottom: 65px;
	position: relative;
}
#newsletter-form #wp-form label{
	color: #66697A;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	padding-bottom: 10px;
	margin-bottom: 0;
}
#newsletter-form #wp-form input[type="email"]{
	width: 100%;
	border: 2px solid #F3F3F3;
	height: 72px;
	padding: 10px 270px 10px 23px;
	font-size: 16px;
	line-height: 30px;
}
#newsletter-form #wp-form input[type="email"]:focus{
	border-color: #ddd;
}
#newsletter-form #wp-form input[type="email"]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #D7D7D9;
  opacity: 1;
}
#newsletter-form #wp-form input[type="email"]::-moz-placeholder { /* Firefox 19+ */
  color: #D7D7D9;
  opacity: 1;
}
#newsletter-form #wp-form input[type="email"]:-ms-input-placeholder { /* IE 10+ */
  color: #D7D7D9;
  opacity: 1;
}
#newsletter-form #wp-form input[type="email"]:-moz-placeholder { /* Firefox 18- */
  color: #D7D7D9;
  opacity: 1;
}
#newsletter-form #wp-form form div{
	position: relative;
}
#newsletter-form #wp-form  .wpforms-submit-container{
	position: absolute;
	right: 0;
	height: 72px;
	width: 208px;
	bottom: 0;	
	z-index: 5;
}
#newsletter-form #wp-form .wpforms-submit-container button{
	height: 100%;
	width: 100%;
	background: linear-gradient(299.73deg, #3C8A3D 2.71%, #47A348 61.2%), #47A348;
	border-radius: 0px 6px 6px 0px;
	color:#fff;
	font-weight: 600;
	font-size: 16px;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
#newsletter-form #wp-form  .wpforms-submit-container button:hover{
	background: #47A348;

}



.vt-about-the-token-sec{
	padding-bottom: 75px;
}
.vt-about-the-token-des{
	padding-top: 175px;
}
.vt-about-the-token-des h2{
	margin-bottom: 20px;
	color: #10303C;
}
.vt-about-the-token-des p{
	margin-bottom: 35px;
}
.vt-about-the-token-des p:first-of-type{
	font-size: 18px;
	line-height: 32px;
	margin-bottom: 15px;
}

.vt-about-the-token-btns{
	max-width: 377px;
	width: 100%;
	margin: 0 -8px;
}
.vt-about-the-token-btn{
	float: left;
	width: 50%;
	padding: 0 8px 16px;
}
.vt-about-the-token-btn:first-child{
	width: 100%;
	padding-left: 8px;
	padding-right: 8px;
}
.vt-about-the-token-btn a{
	display: flex;
	width: 100%;
	min-height: 56px;
	border: 2px solid #66697A;
	border-radius: 6px;
	padding: 10px;
	color: #66697A;
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
}
.vt-about-the-token-btn a:hover{
	color: #47A348;
	border-color: #47A348;
}
.vt-about-the-token-btn:first-child a{
	background: linear-gradient(323.07deg, #3C8A3D 2.71%, #47A348 61.2%), #47A348;
	color: #fff;
	border: none;
}
.vt-about-the-token-btn:first-child a:hover,
.our-community-des a:hover,
.map-img-grd-col-des a:hover,
.home-bnr-des a:hover,
.more-faq-btn a:hover{
	background: #47A348;
}
.vt-about-tokens{
	max-width: 685px;
	width: 100%;
	height: 775px;
	position: relative;
}
.bt-tooltip-btn span{
	display: inline-block;
	vertical-align: baseline;
	position: relative;
	z-index: 3;
}
.vt-about-token-inner{
	position: relative;
}
.subscribe-cmnt{
	padding-bottom: 260px;
}

.vt-about-token{
	position: absolute;
	max-width: 213px;
	width: 100%;
	height: 300px;
	padding: 11px 13px 55px 13px;
	background: #FFFFFF;
	box-shadow: 0px 18px 30px #F0F2F6;
	border-radius: 6px;
}
.vt-about-token-con{
	padding: 10px 0 0 0;
	text-align: center;
}
.vt-about-token-con strong{
	font-weight: 600;
	font-size: 32px;
	line-height: 24px;
	text-transform: uppercase;
	color: #47A348;
	display: block;
	padding-bottom: 7px;
	padding-top: 30px;
}
.vt-about-token-con span{
	font-size: 16px;
	line-height: 24px;
	display: block;
	color: #66697A;
}
.vt-about-token-01{
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
}
.vt-about-token-04{
	bottom:0;
	left: 50%;
	transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);	
}
.vt-about-token-02,
.vt-about-token-03{
	top: 185px;
}
.vt-about-token-02{
	left: 0;
}
.vt-about-token-03{
	right: 0;
}

.vt-about-token-center-logo{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
}

@media(max-width: 1799px){
	.home-bnr-img{
		margin-right: -100px!important;
	}
}

@media(max-width: 1599px){
	.home-bnr-img {
	    margin-right: -10px!important;
	}
}
@media(max-width: 1399px){
	.home-banner{
		padding-top: 80px;
	}
	.radius-gren{
		width: 300px;
		height: 300px;
	}
	.our-community-des {
	    padding: 45px 40px 65px 0;
	}
	.partnersSlideItem strong{
		font-size: 20px;
	}

}
@media(max-width: 1199px){
	.hide-lg{
		display: none!important;
	}
	.show-lg{
		display: block!important;
	}
	.home-bnr-img {
	    margin-right: 0px!important;
	    text-align: center;
	}
	.home-banner{
		padding-top: 70px;
		padding-bottom: 100px;
	}
	.home-bnr-des{
		padding-right: 100px;

	}
	.map-img-grd-col strong{
		font-size: 30px;
	}
	.home-banner{
		padding-bottom: 70px;
	}
	.our-community-des h2 span {
	    background-size: 50px auto;
	    padding-left: 60px;
	}
	.our-community-des {
	    padding-right: 25px;
	}
	.video-play a i{
		max-width: 80px;
	}
	.our-community-des{
		padding-top: 20px;
	}
	.vt-about-token {
	    max-width: 173px;
	    width: 100%;
	    height: 250px;
	    padding: 11px 13px 43px 13px;
	}
	.vt-about-token-con img{
		max-width: 100px;
	}
	.vt-about-token-con strong {
	    font-size: 25px;
	    line-height: 24px;
	    padding-bottom: 4px;
	    padding-top: 20px;
	}
	.vt-about-token-02, .vt-about-token-03 {
	    top: 148px;
	}
	.vt-about-tokens {
	    height: 630px;
	}
	.vt-about-token-center-logo img{
		max-width: 80px;
	}
	.vt-about-the-token-des {
	    padding-top: 91px;
	}
	.vt-about-the-token-des h2{
		font-size: 45px;
	}
	.vt-about-tokens{
		max-width: 550px;
	}
}

@media(max-width: 991px){
	.hide-md{
		display: none!important;
	}
	.show-md{
		display: block!important;
	}
	.map-img-grd-col{
		padding-bottom: 30px;
	}
	.map-img-grd-col-des{
		padding-right: 100px;
	}
	.map-img-grd-col-des h2 {
	    margin-bottom: 30px;
	}
	.map-img-grd-col-des p {
	    margin-bottom: 25px;
	}
	.map-img-grd-col strong{
		padding-bottom: 40px;
	}
	.radius-gren{
		display: none;
	}
	.our-community-des {
	    padding-top: 0;
	}
	.our-community-des {
	    padding-right: 0;
	}
	.our-community-des p {
	    margin-bottom: 15px;
	}
	.vt-about-the-token-des {
	    padding-top: 10px;
	}
	.vt-about-the-token-des{
		padding-bottom: 40px;
	}
	.vt-about-tokens{
		margin: 0 auto;
	}
	.vt-about-the-token-des{
		padding-right: 80px;
	}
	.vt-about-token-con span{
		font-size: 15px;
	}
	.vt-faq-grd-item {
	    padding: 35px 20px 30px 110px;
	}
	.vt-faq-grd-item i{
		width: 110px;
		padding-left: 5px;
	}
	.vt-faq-grd-item i img{
		max-width: 100px;
	}
	.vt-faq-grd-item h6{
		font-size: 20px;
	}
	.home-vt-faq-sec .vt-sec-hdr h2{
		font-size: 40px;
	}
	.subscribe-cmnt {
	    padding-bottom: 100px;
	}
}

@media(max-width: 767px){
	.hide-sm{
		display: none!important;
	}
	.show-sm{
		display: block!important;
	}
	.home-bnr-img{
		margin-left: -50px!important;
		margin-right: -50px!important;
	}
	.home-bnr-des,
	.map-img-grd-col-des {
	    padding-right: 0;
	}
	.home-bnr-des h1 {
	    margin-bottom: 30px;
	}
	.map-img-grd-col strong {
	    padding-bottom: 30px;
	    line-height: 28px;
	}

	.map-img-grd-col-des h2 {
	    margin-bottom: 25px;
	}
	.our-community-sec{
		padding-top: 30px;
	}
	.our-community-des{
		padding-top: 30px;
	}
	.our-community-des h2 span {
	    background-size: 45px auto;
	    padding-left: 56px;
	}
	.our-community-des h2 {
	    margin-bottom: 20px;
	}
	.home-banner {
	    padding-bottom: 110px;
	}
	.vt-about-the-token-des{
		padding-right: 0;
	}
	.vt-faq-grds ul li{
		width: 100%;
	}
	.home-vt-faq-sec .vt-sec-hdr h2 {
	    font-size: 35px;
	}
	#newsletter-form #wp-form  .wpforms-submit-container{
		max-width: 150px;
	}
	#newsletter-form #wp-form input[type="email"],
	#newsletter-form #wp-form .wpforms-submit-container{
		height: 60px;
	}
	.community-we-hdr{
		padding-bottom: 20px;
	}
	.home-vt-faq-sec{
		padding-bottom: 70px;
	}
	.community-we-hdr p {
	    font-size: 17px;
	    line-height: 26px;
	}
	#newsletter-form #wp-form input[type="email"]{
		padding-right: 190px;
	}
	.subscribe-cmnt {
	    padding-bottom: 80px;
	}
	.partnersSlideItem{
		padding-bottom: 50px;
	}
	.xs-pagi-ctrl .slick-dots{
		position: static;
		padding-left: 40px;
		padding-right: 40px;
	}
	.xs-pagi-ctrl .slick-dots li{
		width: 24px;
		height: 24px;
		padding: 0;
		margin: 0 5px;
		background: #F1F1F2;
		border-radius: 100% 100%;
	}
	.xs-pagi-ctrl .slick-dots li.slick-active{
		background: #47A348;
	}
	.xs-pagi-ctrl .slick-dots li button{
		padding: 0;
		width: 100%;
		height: 100%;
		opacity: 1;
	}
	.xs-pagi-ctrl .slick-dots li button:before{
		content: none;
	}
	.slide-prev-btn, 
	.slide-next-btn {
	    position: absolute;
	    top: auto;
	    transform: initial;
	    width: 32px;
	    height: 32px;
	    background-size: 100% auto;
	    bottom: 25px;
	}
	.partnersSlider {
	    overflow: hidden;
	    padding-left: 0;
	    padding-right: 0;
	}
	.home-vt-faq-sec .vt-sec-hdr{
		padding-top: 60px;
	}
	.partners-4-prosperity-sec .vt-sec-hdr p {
	    line-height: 28px;
	}
}


@media(max-width: 575px){
	.hide-xs{
		display: none!important;
	}
	.show-xs{
		display: block!important;
	}
	.home-bnr-des h1 {
	    margin-bottom: 25px;
	}
	.map-img-grd-col-des h2 {
	    margin-bottom: 20px;
	}
	.map-img-grd-col-des p {
	    margin-bottom: 20px;
	}
	.vt-sm-map-xs-ctlr{
		margin-left: -25px;
		margin-right: -25px;
	}
	.video-play a i {
	    max-width: 65px;
	}
	.our-community-des h2 span {
	    background-size: 39px auto;
	    padding-left: 49px;
	}
	.our-community-des h2 {
	    margin-bottom: 15px;
	}
	.our-community-sec {
	    padding-top: 25px;
	}
	.vt-about-the-token-des h2 {
	    font-size: 40px;
	}
	.vt-about-the-token-des{
		padding-top: 0;
	}
	.vt-about-the-token-btns{
		width: auto;
	}
	.vt-about-tokens {
	    max-width: 355px;
	    height: 607px;
	}
	.vt-about-token-01 {
	    top: 0;
	    left: 0;
	    transform: initial;
	}
	.vt-about-token-02{
		left: auto;
		right: 0;
		top: 20px;
	}
	.vt-about-token-03{
		right: auto;
		left: 0;
		bottom: 20px;
		transform: initial;
		top: auto;
	}
	.vt-about-token-04 {
	    bottom: 0;
	    left: auto;
	    transform: initial;
	    right: 0;
	}
	.vt-about-token-con span{
		font-size: 14px;
	}
	.vt-about-token{
		padding: 11px 13px 30px 13px;
	}
	.vt-about-token-con{
		padding: 0;
		margin-top: -5px;
	}
	.vt-about-token{
		height: 220px;
	}
	.partners-4-prosperity-sec .vt-sec-hdr p {
	    line-height: 28px;
	}
	.home-vt-faq-sec .vt-sec-hdr h2 {
	    font-size: 34px;
	}
	.home-vt-faq-sec .vt-sec-hdr{
		padding-bottom: 20px;
	}
	.community-we-hdr span{
		background-size: 50px auto;
		padding-right: 60px;
		background-position: right 3px center;
	}
	#newsletter-form #wp-form .wpforms-submit-container{
		position: static;
		margin: 10px auto;
		display: table;
	}
	#newsletter-form #wp-form .wpforms-submit-container button{
		border-radius: 6px;
		height: 50px;
	}
	#newsletter-form #wp-form input[type="email"] {
	    padding-right: 15px;
	    padding-left: 15px;
	}
	.subscribe-cmnt {
	    padding-bottom: 60px;
	}
	#newsletter-form #wp-form form{
		margin-bottom: 45px;
	}
	.xs-pagi-ctrl .slick-dots li{
		width: 18px;
		height: 18px;
		margin: 0 4px;
	}
	.slide-prev-btn, .slide-next-btn{
		width: 30px;
		bottom: 23px;
	}
}


@media(max-width: 479px){
	.video-play a i {
	    max-width: 60px;
	}
	.vt-about-the-token-des h2 {
	    font-size: 35px;
	}
	.vt-about-the-token-btn a{
		font-size: 14px;
	}
	.vt-about-the-token-btns{
		margin-left: -5px;
		margin-right: -5px;
	}
	.vt-about-the-token-btn{
		padding-left: 5px;
		padding-right: 5px;
	}
	.vt-about-the-token-des p:first-of-type,
	.home-bnr-des p strong {
	    font-size: 17px;
	    line-height: 30px;
	}
	.vt-about-tokens{
		height: auto;
	}
	.vt-about-token,
	.vt-about-token-center-logo{
		position: static!important;
		margin: 0 auto!important;
		margin-bottom: 25px!important;
		transform: initial!important;
	}
	.vt-about-token-center-logo{
		text-align: center;
	}
	.vt-about-the-token-sec {
	    padding-bottom: 55px;
	}
	.vt-faq-grd-item i{
		position: static;
		display: block;
		width: 100%;
		text-align: center;
		padding: 0;
		padding-bottom: 5px;
	}
	.vt-faq-grd-item {
	    padding: 30px 20px 30px 20px;
	    text-align: center;
	}
	.vt-faq-grd-item > a{
		margin: 0 auto;
	}
	.community-we-hdr h3 {
	    font-size: 28px;
	}
	.community-we-hdr span {
	    background-size: 40px auto;
	    padding-right: 57px;
	}
	.community-we-hdr span{
		background: none;
		padding-right: 0;
	}
}


@media(max-width: 359px){
	.video-play a i {
	    max-width: 55px;
	}

}