.innerpage-con-wrap{
	overflow: hidden;
}
.default-page-con {
	padding-bottom: 100px;
	padding-top: 60px;
	max-width: 965px;
	padding-left: 30px;
	padding-right: 30px;
	width: 100%;
	margin: 0 auto;
}
.fl-dft-overflow-controller {
	/*overflow: hidden;*/
}
.default-page-con h1,
.default-page-con h2,
.default-page-con h3,
.default-page-con h4,
.default-page-con h5{
	margin-bottom: 15px;
}

.default-page-con ul{
	list-style: none;
	margin: 0;
	padding: 0;
	padding-left: 25px;
	padding-bottom: 10px;
}
.default-page-con ul li {
	padding: 0 0 10px 28px;
	position: relative;
	line-height: 24px;
}
.default-page-con ul li::after {
	content: "";
	position: absolute;
	left: 0;
	top: 7px;
	background: url(../images/list-icon.svg);
	background-repeat: no-repeat;
	background-size: 100% auto;
	width: 12px;
	height: 10px;
}

.default-page-con ol {
	padding: 0 0 0 28px;
	list-style: none;
	counter-reset: my-awesome-counter;
	-ms-counter-reset: my-awesome-counter;
	-webkit-counter-reset: my-awesome-counter;
}
.default-page-con ol li {
	counter-increment: my-awesome-counter;
	-ms-counter-increment: my-awesome-counter;
	-webkit-counter-increment: my-awesome-counter;
	padding-bottom: 15px;
	line-height: 24px;
}
.default-page-con ol li::before {
	content: counter(my-awesome-counter) ". ";
	color: #47A348;
	font-weight: 800;
	margin-right: 10px;
}


.default-page-con p{
	margin-bottom: 30px;
}


.dfp-promo-module h1 span {
    display: inline-block;
    vertical-align: baseline;
    padding: 0 0 0 95px;
    background: url(../images/hrt-green-lg.svg);
    background-repeat: no-repeat;
    background-size: 79px 73px;
}


.default-page-con .dfp-promo-module{
	padding-bottom: 35px;
}
.default-page-con .dfp-promo-module h1{
	margin-bottom: 50px;
}
.default-page-con .dfp-promo-module h1 strong,
.default-page-con .dfp-promo-module h2 strong{
	display: inline-block;
	vertical-align: baseline;
	font-weight: 900;
	margin-bottom: 0;
}
.dfp-plate-one-img-bx img{
	width: 100%;
	border-radius: 6px;
}





.fl-dft-lftimg-rgtdes {
	margin: 0 0;
	padding-bottom: 35px;
	position: relative;
	z-index: 2;
}
.fl-dft-circle-rgt{
	position: absolute;
	width: 304px;
	height: 304px;
	background: linear-gradient(281.18deg, #3C8A3D 2.71%, #47A348 61.2%), #47A348;
	border-radius: 100% 100%;
	right: -140px;
	bottom: 0;
	z-index: 1;
}
.fl-dft-circle-lft{
	position: absolute;
	width: 336px;
	height: 336px;
	border: 40px solid #47a348;
	border-radius: 100% 100%;
	left: -190px;
	bottom: 15px;
	z-index: 1;	
}
.fl-dft-lftimg-rgtdes-lft,
.fl-dft-lftimg-rgtdes-rgt {
	width: 50%;
	float: left;
}
.fl-dft-lftimg-rgtdes-lft{
	border-radius: 6px;
	position: relative;
	z-index: 5;
}
.fl-dft-lftimg-rgtdes-rgt {
	padding-left: 25px;
	padding-bottom: 0;
	padding-top: 0;
}
.fl-dft-lftimg-rgtdes-rgt p:last-child{
	margin-bottom: 0;
}
.fl-dft-lftimg-rgtdes-lft,
.fl-dft-testi-controller{
	background-size: cover !important;
	background-repeat: no-repeat !important;
	background-position: center center !important;
}

/*-- left des right img customize---*/
.fl-dft-lftimg-rgtdes.fl-dft-rgtimg-lftdes .fl-dft-lftimg-rgtdes-lft{
	float: right;
	position: relative;
	z-index: 5;
}
.fl-dft-lftimg-rgtdes.fl-dft-rgtimg-lftdes .fl-dft-lftimg-rgtdes-rgt{
	float: left;
	padding-left: 0;
	padding-right: 25px;
}



.dfp-blockquote{
	padding-bottom: 55px;
	padding-top: 15px;
	margin-top: -15px;
}
.dfp-blockquote-inner{
	padding: 45px 65px 50px 160px;
	position: relative;
	background: #FFFFFF;
	box-shadow: 0px 18px 30px #F0F2F6;
	border-radius: 6px;
}

.dfp-blockquote-inner blockquote{
	border: 0;
	padding: 0 0 25px 0;
	margin: 0;
	font-style: italic;
	font-weight: 200;
	font-size: 36px;
	line-height: 48px;
	position: relative;
	color: #66697A;
}

.dfp-blockquote-inner::before {
	content: "";
	background: url(../images/blockquote-icon.svg);
	background-repeat: no-repeat;
	background-size: 100% auto;
	width: 71px;
	height: 71px;
	left: 50px;
	top: 45px;
	position: absolute;
}

.dfp-blockquote-inner strong{
	font-weight: 500;
	font-size: 18px;
	line-height: 20px;
	line-height: 20px;
	color: #66697A;
}
.dfp-grd-slider-ctlr.dfp-grd-slider-ctlr-2{
	margin-top: -30px;
}
.dfp-grd-slider-ctlr.dfp-grd-slider-ctlr-2 .dfp-grd-slide-item-img{
	min-height: 65px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 0;
	margin-bottom: 55px;
}
.dfp-grd-slider-ctlr.dfp-grd-slider-ctlr-2 .dfp-grd-slide-item-inner > a{
	color: #10303C;
	font-weight: 600;
	font-size: 24px;
	line-height: 26px;
}
.dfp-grd-slider-ctlr.dfp-grd-slider-ctlr-2 .dfp-grd-slide-item-inner{
	box-shadow: 0px 18px 30px #F0F2F6;
	border-radius: 6px;	
	padding-bottom: 65px;
	padding-top: 100px;
}

/*.dftBlockquoteSlider .slick-prev,
.dftBlockquoteSlider .slick-next{
	width: 24px;
	height: 18px;
	transform: initial;
	text-indent: -9999999px;
	z-index: 10;
	bottom: 0;
	top: initial;
}

.dftBlockquoteSlider .slick-prev button:before,
.dftBlockquoteSlider .slick-next button:before{
	content: none;
}

.dftBlockquoteSlider .slick-next{
	right: 0;
	background: url(../images/arrow-next-black.png);
	background-size: 100% auto;
	background-repeat: no-repeat;
}
.dftBlockquoteSlider .slick-next:hover{
	background: url(../images/arrow-next-sky.png);
	background-size: 100% auto;
	background-repeat: no-repeat;
}

.dftBlockquoteSlider .slick-prev{
	right: 75px;
	left: auto;
	background: url(../images/arrow-prev-black.png);
	background-size: 100% auto;
	background-repeat: no-repeat;
}

.dftBlockquoteSlider .slick-prev:hover{
	background: url(../images/arrow-prev-sky.png);
	background-size: 100% auto;
	background-repeat: no-repeat;
}
*/



.default-page-con .sdc-grid-wrp ul{
	margin: 0 -12px;
	padding: 0;
}
.default-page-con .sdc-grid-wrp ul li{
	width: 50%;
	padding: 0 12px;
}
.default-page-con .sdc-grid-wrp ul li:nth-child(3n+1){
	clear: initial;
}
.default-page-con .sdc-grid-wrp ul li:nth-child(2n+1){
	clear: left;
}
.default-page-con .sdc-grid-wrp ul li:after{
	content: none;
}



.dft-post-grd-module-wrap h5{
	margin-bottom: 25px;
}

/*---- dft-two-plate-des-wrp  ----*/
.dft-two-plate-des-wrp{
	margin: 0 -12px 45px;
}
.dft-two-plate-des-col{
	float: left;
	width: 50%;
	padding: 0 12px;
}
.dft-two-plate-des-col p{
	margin-bottom: 0;
	padding-bottom: 25px;
}

.dft-two-plate-des-col p span{
	color: #47A348;
	text-decoration: underline;
	font-weight: 500;
}
.dft-two-plate-des-col-lft a{
	display: flex;
	align-items: center;
	border: 2px solid #66697A;
	border-radius: 6px;
	max-width: 170px;
	width: 100%;
	height: 56px;
	color: #66697A;
	text-transform: uppercase;
	background: url(../images/dft-two-plate-des-col-lft-btn-icon.svg);
	background-size: 30px 30px;
	background-repeat: no-repeat;
	background-position: 35px center; 
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
	padding: 10px 10px 10px 70px;
}
.dft-two-plate-des-col-rgt a{
	display: flex;
	align-items: center;
	border: 2px solid #66697A;
	border-radius: 6px;
	max-width: 220px;
	width: 100%;
	height: 56px;
	color: #66697A;
	text-transform: uppercase;
	background: url(../images/dft-two-plate-des-col-rgt-btn-icon.svg);
	background-size: 18px 16px;
	background-repeat: no-repeat;
	background-position: right 35px center; 
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
	padding: 10px 10px 10px 35px;
}



.dft-join-the-community{
	padding-bottom: 45px;
}
.dft-join-the-community-inner{
	position: relative;
	background: linear-gradient(319.99deg, #3C8A3D 2.71%, #47A348 61.2%), #47A348;
	box-shadow: 0px 18px 30px #F0F2F6;
	border-radius: 6px;
	min-height: 150px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
    width:100%;
	padding: 15px 45px 15px 30px;
	color: #fff;
}
.dft-join-the-community-inner h3{
	color: #fff;
	margin-bottom: 0;
	 
}
.dft-join-the-community-inner h3 span{
    display: inline-block;
    vertical-align: baseline;
    padding: 0 0 0 55px;
    background: url(../images/hrt-icon-white.svg);
    background-repeat: no-repeat;
    background-size: 45px 42px;	
}
.dft-join-the-community-inner div{
	margin-left: auto;
  	order: 2;
}
.dft-join-the-community-inner div a{
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
	color: #fff;
	border: 2px solid #FFFFFF;
	border-radius: 6px;
	align-items: center;
	max-width: 220px;
	width: 100%;
	display: block;
	height: 56px;
	text-transform: uppercase;
	padding: 17px 20px;
}
.dft-img-des-grd-cols{
	margin: 0 -12px;
}
.dft-img-grd{
	float: left;
	width: 50%;
	padding: 20px 12px 40px;
}
.dft-img-grd-inner-img{
	border-radius: 6px;
}
.dft-img-grd-inner-des{
	padding: 20px 40px 25px 40px;
	box-shadow: 0px 18px 30px #F0F2F6;
	border-radius: 6px;
}
.dft-img-grd-inner-des p:last-of-type{
	margin-bottom: 0;
}

.dft-map-module-inner{
	background: #FFFFFF;
	box-shadow: 0px 18px 30px #F0F2F6;
	border-radius: 6px;
	padding: 50px 30px;
	text-align: center;
}
.dft-map-module-inner strong {
    display: block;
    font-weight: 600;
    font-size: 32px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #47A348;
    padding-bottom: 25px;
}
.dft-map-module-inner strong span {
    color: #565a6b;
    display: inline-block;
    vertical-align: baseline;
}


.vnc-post-grd-controller ul{
	margin: 0;
	padding: 0;
	margin: 0 -12px;
}
.vnc-post-grd-controller ul li{
	margin: 0;
	padding: 0 12px;
	float: left;
	position: static;
	padding-bottom: 50px;
}
.vnc-post-grd-controller ul li::after{
	content: none;
}

.vnc-post-grd-img{
	margin-bottom: 33px;
}
.vnc-post-grd-img a{
	display: block;
	overflow: hidden;
}
.vnc-post-grd-img img{
	width: 100%;
}
.vnc-post-2-grd-controller ul li{
	width: 50%;
}
.vnc-post-2-grd-controller ul li:nth-child(2n+1){
	clear: left;
}

.vnc-post-3-grd-controller ul li{
	width: 33.3333%;
}
.vnc-post-3-grd-controller ul li:nth-child(3n+1){
	clear: left;
}

.vnc-post-grd-fea-img{
	position: relative;
}

.vnc-post-grd-fea-img img{
	width: 100%;
}

.innerpage-con-wrap .vnc-post-grd-des{
	padding-right: 40px;
}

.vnc-post-grd-des{
	border-left: 3px solid #F0F0F0;
	padding-left: 25px;
	padding-bottom: 45px;

	position: relative;
}
.vnc-post-grd-des-place{
	padding-bottom: 16px;
	font-size: 16px;
}
.vnc-post-grd-des-place *{
	display: inline-block;
	vertical-align: baseline;
}
.vnc-post-grd-des-place i{
	left: -2px;
	position: relative;
}
.vnc-post-grd-des-place span {
    vertical-align: top;
    position: relative;
    top: -1px;
}
.vnc-post-grd-des h5{
	font-weight: 500;
	font-size: 20px;
	line-height: 28px;
	margin-bottom: 0;
	text-transform: initial;
}
.vnc-post-grd-des h5 a{
	color: inherit;
	display: inline-block;
	vertical-align: baseline;
}
.vnc-post-grd-des h5 a:after{
	content: none;
}
.vnc-post-grd-des h5:hover a{
	color: #F39314;
}

.vnc-post-grd-des > a,
.vnc-news-des-btm > a {
    font-weight: 500;
    font-size: 16px;
    color: #F39314;
    display: inline-block;
    vertical-align: baseline;
    padding-right: 30px;
    position: absolute;
    left: 25px;
    bottom: 0;
    line-height: 16px;
    z-index: 5;
}
.vnc-post-grd-des > a::after,
.vnc-news-des-btm > a:after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    background: url(../images/link-orange-arrow.svg);
    background-size: 
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 18px;
    height: 13px;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -ms-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}
.vnc-post-grd-des > a:hover:after,
.vnc-news-des-btm > a:hover:after{
	right: -5px;
}


.default-page-con .over-ons-blockquote-slide{
	padding-left: 70px;
	padding-right: 70px;
}



ul.dft-2-grd-slider li{
	float: initial;
}
ul.dft-2-grd-slider{
	padding: 0!important
}

.dfp-fancy-bx .video-play a{
	border-radius: 6px;
}

.dfp-grd-slider{
	margin: 0 -42px;
	padding: 0 30px;
}
.dfp-grd-slider .slick-list{
	overflow: initial;
}
.dfp-grd-slide-item{
	padding: 40px 12px 35px; 
	text-align: center;
}
.dfp-grd-slide-item-inner{
	text-align: center;
	background: #FFFFFF;
	box-shadow: 0px 18px 30px #F0F2F6;
	border-radius: 6px;
	padding: 30px 90px 20px;
}
.dfp-grd-slide-item-img{
	padding-bottom: 25px;
}
.dfp-grd-slide-item-img img{
	display: inline-block;
	vertical-align: baseline;
}

/*table*/

.dfp-tbl-wrap{
	padding-top: 60px;
}

.table-dsc{
	padding: 0;
	background-color: #fff;
	border: 2px solid #E3E3E3;
	border-top: none;
	border-radius: 6px;
}
.table-dsc table{
	width: 100%;
	padding: 20px;
	border: none;
}
.table-dsc table thead{
	margin-left: -2px;
	margin-right: -2px;
}
/*.table-dsc table tr th:nth-child(1){
	padding: ;
}
.table-dsc table tr th:nth-child(1) span{
    border-right: 2px solid #8DC63F;
    display: block;
}*/



.table-dsc{
	font-size: 16px;
	line-height: 20px;
}
.table-dsc table tbody tr:first-child td:last-child span{
	border-right: none;
}
.table-dsc table tr th {
	border: none;
	color: #fff;
	font-weight: 700;
	padding: 30px 0;
	line-height: 17px;
	background: #66697A;
	font-size: 20px;
	line-height: 25px;
}
.table-dsc table tr th span{
	display: block;
	font-weight: 600;
	display: inline-block;
	vertical-align: baseline;
	font-size: 18px;
	line-height: 20px;
}

.table-dsc table tr th,
.table-dsc table tr td{
	padding-left: 30px;
}




.table-dsc table tbody{
	border-top: 0;
	margin: 0 3px;
	border-top: 2px solid #f0f0f0;
}
.table-dsc table tbody tr td{
	border-left: 3px solid #F0F0F0;
}
.table-dsc table tbody tr td span{
	padding-top: 22px;
	padding-bottom: 18px;
	border-bottom: 1px solid #E3E3E3;
	display: block;
}
.table-dsc table tbody tr td span{
	padding-bottom: 20px;
}
.table-dsc table td span,
.table-dsc table th span{
	padding-right: 10px;
}
.table-dsc table tbody tr td:first-child{
	border-left: none;
}
.table-dsc table tbody tr td:nth-child(2),
.table-dsc table tbody tr td:nth-child(3){
	padding-left: 0;
}
.table-dsc table tbody tr td:nth-child(2) span,
.table-dsc table tbody tr td:nth-child(3) span{
	padding-left: 30px;
}
.table-dsc table tbody tr:last-child td span{
	border-bottom: none;
	padding-bottom: 0;
}
.table-dsc table tbody tr:first-child td{
	padding-top: 5px;
}
.table-dsc table tbody tr td:first-child,
.table-dsc table thead tr th:first-child{
   padding-left: 40px;
}
.table-dsc table tbody tr td:last-child,
.table-dsc table thead tr th:last-child{
   padding-right: 40px;
}
.table-dsc table tbody tr:last-child td{
	padding-bottom: 40px;
}




/*News*/
.news-details-con-wrap .default-page-con{
	padding-bottom: 80px;
}
.dft-date{
	padding-bottom: 22px;
}
.dft-date i,
.dft-date strong{
	display: inline-block;
	vertical-align: baseline;
}
.dft-date i{
	position: relative;
	top: -2px;
}
.dft-date strong{
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	color: #F39314;
	text-transform: uppercase;
	padding-left: 10px;
}
.news-details-con-wrap .fl-dft-overflow-controller{
	padding-top: 15px;
	border-top: 3px solid #F8F8F8;
}
.news-details-con-wrap  .default-page-con .dfp-promo-module h1{
	margin-bottom: 10px;
}

.like-share-area{
	padding-top: 38px;
}

/*-----  news details ------*/

.page-entry-hdr{
	max-width: 900px;
	margin: 0 auto;
	text-align: center;
	padding-top: 35px;
	font-size: 16px;
}
.page-entry-hdr h1,
.page-entry-hdr h2{
	font-weight: 300;
	margin-bottom: 15px;
	text-transform: uppercase;
}
.page-entry-hdr h1 strong,
.page-entry-hdr h2 strong{
	font-weight: 900;
	display: inline-block;
	vertical-align: baseline;
}
.page-entry-hdr p{
	margin-bottom: 25px;
}

.news-overview-page-con .faq-page-pagination,
.referenties-page-wrap .faq-page-pagination{
	border-top: 3px solid #F8F8F8;
	margin-top: 20px;
}
.news-overview-page-con .page-entry-hdr h1,
.news-overview-page-con .page-entry-hdr h2{
	margin-bottom: 10px;
}
/*
Gallery design
*/

.gallery {
	margin-left: -12px;
	margin-right: -12px;
}

.gallery:after {
	display: table;
	content: "";
	clear: both;
}

.gallery-item {
	margin: 0;
	float: left;
	padding: 0 12px;
	margin-bottom: 24px;
}

.gallery-item img {
	width: 100%;
	border-radius: 6px;
}

.gallery-columns-1 .gallery-item {
    width: 100%;
    float: none;
}
.gallery-columns-2 .gallery-item {
    width: 50%
}
.gallery-columns-3 .gallery-item {
    width: 33.3333%
}
.gallery-columns-4 .gallery-item {
    width: 25%
}
.gallery-columns-5 .gallery-item {
    width: 20%
}
.gallery-columns-6 .gallery-item {
    width: 16.6667%
}
.gallery-columns-7 .gallery-item {
    width: 14.2857%
}
.gallery-columns-8 .gallery-item {
    width: 12.5%
}
.gallery-columns-9 .gallery-item {
    width: 11.1111%
}

.gallery-columns-2 .gallery-item:nth-child(2n+1),
.gallery-columns-3 .gallery-item:nth-child(3n+1),
.gallery-columns-4 .gallery-item:nth-child(4n+1),
.gallery-columns-5 .gallery-item:nth-child(5n+1),
.gallery-columns-6 .gallery-item:nth-child(6n+1),
.gallery-columns-7 .gallery-item:nth-child(7n+1),
.gallery-columns-8 .gallery-item:nth-child(8n+1),
.gallery-columns-9 .gallery-item:nth-child(9n+1) {
	clear: left;
}





@media(max-width: 1199px){

	.table-dsc table tr th{
		font-size: 16px;
	}
	.vnc-post-grd-controller.vnc-post-3-grd-controller .vnc-post-grd-des h5{
		font-size: 17px;
		line-height: 22px;
	}
}


@media(max-width: 991px){
	.innerpage-con-wrap .vnc-post-grd-des{
		padding-right: 0;
	}

	.vnc-post-3-grd-controller ul li {
	    width: 50%;
	}
	.vnc-post-3-grd-controller ul li:nth-child(3n+1) {
	    clear: initial;
	}
	.vnc-post-3-grd-controller ul li:nth-child(2n+1) {
	    clear: left;
	}
}
@media(max-width: 850px){
	.dfp-tbl-wrap{
		overflow-y: scroll;
	}
	.table-dsc{
		width: 850px;
	}
}

@media(max-width: 767px){
	
	.fl-dft-lftimg-rgtdes-lft, 
	.fl-dft-lftimg-rgtdes-rgt {
	    width: 100%;
	}
	.fl-dft-lftimg-rgtdes-rgt{
		padding-left: 0;
	}
	ul.dft-2-grd-slider .slick-prev:before,
	ul.dft-2-grd-slider .slick-next:before,
	.home-news-sec-wrap ul .slick-prev:before,
	.home-news-sec-wrap ul .slick-next:before{
		content: none;
	}
	ul.dft-2-grd-slider .slick-prev,
	ul.dft-2-grd-slider .slick-next,
	.home-news-sec-wrap ul .slick-prev,
	.home-news-sec-wrap ul .slick-next{
	    width: 41px;
	    height: 41px;
	    top: 20%;
	    background-color: #fff;
	    z-index: 20;
	    transform: initial;
	}
	ul.dft-2-grd-slider .slick-prev,
	.home-news-sec-wrap ul .slick-prev{
		background-image: url(../images/prev-arrow-gray.svg);
		background-size: 10px 18px;
		background-position: 20px center;
		background-repeat: no-repeat;
		left: -15px;
	}
	ul.dft-2-grd-slider .slick-next,
	.home-news-sec-wrap ul .slick-next{
		background-image: url(../images/next-arrow-gray.svg);
		background-size: 10px 18px;
		background-position: right 20px center;
		background-repeat: no-repeat;
		right: -15px;
	}
	.fl-dft-lftimg-rgtdes-lft{
		min-height: 350px;
	}
	.fl-dft-lftimg-rgtdes.fl-dft-rgtimg-lftdes .fl-dft-lftimg-rgtdes-rgt{
		padding-right: 0;
	}
	.vnc-post-grd-controller.vnc-post-3-grd-controller .vnc-post-grd-des{
		padding-left: 20px;
	}
	.vnc-post-grd-controller.vnc-post-3-grd-controller .vnc-post-grd-des > a, 
	.vnc-post-grd-controller.vnc-post-3-grd-controller .vnc-news-des-btm > a{
		left: 20px;
	}
	.vnc-post-grd-des .vnc-news-des-btm a {
	    left: 45px!important;
	}
}



@media(max-width: 639px){

}



@media(max-width: 575px){
	.gallery {
	    margin-left: -5px;
	    margin-right: -5px;
	    padding-bottom: 5px;
	}
	.gallery-item {
	    padding: 0 5px;
	    margin-bottom: 10px;
	}
	.default-page-con ol,
	.default-page-con ul{
		padding-left: 20px;
	}
	.dft-two-plate-des-col{
		width: 100%;
	}
	.vnc-post-grd-des h5{
		font-size: 17px;
		line-height: 21px;
	}
	.vnc-post-grd-des-place {
	    padding-bottom: 10px;
	}
	.vnc-post-grd-des{
		padding-left: 20px;
	}
	.default-page-con{
		padding-bottom: 50px;
	}
	.vnc-post-3-grd-controller ul li {
	    width: 100%;
	}
	.referenties-tab-links ul li {
	    padding: 0 10px 10px;
	    font-size: 13px;
	}
	.dft-2-grd-slider .vnc-post-grd-des a{
		left: 20px;
	}
}


@media(max-width: 479px){

	
}



@media(max-width: 359px){

}

