.lm-social-platform-sec{
	padding-top: 110px;
	position: relative;
}
.lm-social-platform-head{
	max-width: 910px;
	margin: 0 auto;
	padding-bottom: 17px;
}
.lm-social-platform-head span{
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	text-transform: uppercase;
	color: #47A348;
	margin-bottom: 8px;
	display: inline-block;
	vertical-align: baseline;
}
.lm-social-platform-head h1{
	line-height: 80px;
	margin-bottom: 18px;
}
.lm-social-platform-block {
	padding-bottom: 20px;
	position: relative;
}
.lm-social-platform-block .lmSocialSilder{
	margin-left: -10px;
	margin-right: -10px;
}
.lm-social-platform-block .lmSocialSilder-item{
	padding-left: 10px;
	padding-right: 10px;
	width:25%;
	float: left;
	margin-bottom: 20px;
}
.lm-social-platform-block .lmSocialSilder-item:nth-child(4n+1){
	clear: left;
}
.lm-social-platform-block .lmSocialSilder-item > div{
	background: #fff;
	padding: 15px 25px 20px;
	box-shadow: 0px 18px 30px #F0F2F6;
	border-radius: 6px;
	min-height: 296px;
}
.lm-social-platform-block .lmSocialSilder-item i{
	max-width: 145px;
	display: inline-block;	
	margin-bottom: 15px;
}
.lm-social-platform-block .lmSocialSilder-item i img{
	width:100%;
}
.lm-social-platform-tab-trg {
	padding-bottom: 80px;
}
.lm-social-platform-tab-trg ul{
	display: table;
	margin: 0 auto;
}
.lm-social-platform-tab-trg li{
	display: inline-block;
}
.lm-social-platform-tab-trg a{
	display: inline-block;
	vertical-align: baseline;
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	text-transform: uppercase;
	color: #66697A;
	border: 2px solid #66697A;
	background: #fff;
	box-sizing: border-box;
	border-radius: 6px;
	padding: 15px 25px;
	margin:0 11px;
}
.lm-social-platform-tab-trg li.active a{
	color: #fff;
	border-color: #47A348;
	background: -webkit-linear-gradient(308.7deg, #3C8A3D 2.71%, #47A348 61.2%), #47A348;
	background: -o-linear-gradient(308.7deg, #3C8A3D 2.71%, #47A348 61.2%), #47A348;
	background: -ms-linear-gradient(308.7deg, #3C8A3D 2.71%, #47A348 61.2%), #47A348;
	background: linear-gradient(308.7deg, #3C8A3D 2.71%, #47A348 61.2%), #47A348;

}
.lm-social-platform-map{
	margin-bottom: 30px;
}
.lm-social-platform-map-hdr{
	padding-bottom: 52px;
}
.lm-social-platform-map-hdr h2{
	line-height:60px;
}
.lm-social-platform-map-hdr h2 span{
	color: #47A348
}
.lm-social-platform-map-hdr #continents-data strong{
	font-weight: 600;
	font-size: 56px;
	line-height:60px;
	color: #47A348;
}
.lm-social-platform-map-hdr #continents-data strong span{
	color: #10303C;
}
.lm-social-platform-map img{
	max-width: 1166px;
	width:100%;
}
.lm-mauris-aliquam-sec{
	padding-top: 58px;
}
.lm-mauris-aliquam-innr{
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 3px solid #F8F9FA;
}
.lm-mauris-aliquam-img{
	width:49%;
	order: 2;
	position: relative;
	z-index: 1;
}
.lm-mauris-aliquam-img:after{
	content: "";
	position: absolute;
	top: -92px;
	right: -220px;
	width: 424px;
	height: 424px;
	border-radius: 100%;
	background: -ms-linear-gradient(281.18deg, #3C8A3D 2.71%, #47A348 61.2%), #47A348;
	background: -webkit-linear-gradient(281.18deg, #3C8A3D 2.71%, #47A348 61.2%), #47A348;
	background: linear-gradient(281.18deg, #3C8A3D 2.71%, #47A348 61.2%), #47A348;
	z-index: 2;
}
.lm-mauris-aliquam-img a {
    display: inline-block;
    vertical-align: baseline;
    max-width: 672px;
    position: relative;
    z-index: 3;
    border-radius: 7px;
    overflow: hidden;
}
.lm-mauris-aliquam-img img{
	width:100%;
	position: relative;
	z-index: 3;
}
.lm-mauris-aliquam-des{
	width:51%;
	order: 1;
	padding: 0px 150px 90px 0;
}
.lm-mauris-aliquam-des h2{
	line-height: 60px;
	margin-bottom: 38px;
}
.lm-mauris-aliquam-lnc{
	padding-top: 17px;
}
.lm-mauris-aliquam-lnc a{
	display: inline-block;
	vertical-align: baseline;
	font-weight: 600;
	font-size: 14px;
	line-height: 24px;
	text-transform: uppercase;
	color: #FFFFFF;
	background: -ms-linear-gradient(312.54deg, #3C8A3D 2.71%, #47A348 61.2%), #47A348;
	background: -webkit-linear-gradient(312.54deg, #3C8A3D 2.71%, #47A348 61.2%), #47A348;
	background: linear-gradient(312.54deg, #3C8A3D 2.71%, #47A348 61.2%), #47A348;
	border-radius: 6px;
	border: 2px solid #47A348;
	border-radius: 6px;
	padding: 15px 43px;
}
.lm-mauris-aliquam-lnc a:hover{
	background: #47A348;;
}
.lm-community-innr {
	padding: 80px 0 28px;
	border-bottom: 3px solid #F8F9FA;
}
.lm-community-head{
	max-width: 880px;
	margin: 0 auto;
	padding-bottom: 32px;
}
.lm-community-head h3{
	line-height: 45px;
}
.lm-community-head p{
	font-size: 18px;
	line-height: 32px;
	text-align: center;
}
.lm-community-features{
	position: relative;
}
.lm-community-features .lmCommunitySlider-item{
	position: relative;
	width: 50%;
	float: left;
	padding: 25px 10px 35px 173px;
}
/*.lm-community-features .lmCommunitySlider-item:nth-child(2n+1){
	clear: left;
}*/
.lm-community-features .lmCommunitySlider-item i{
	position: absolute;
	left: 0;
	top: 0;
	max-width: 145px;
	display: inline-block;
	vertical-align: baseline;
}
.lm-community-features .lmCommunitySlider-item i img{
	width:100%;
}
.lm-community-features .lmCommunitySlider-item h6{
	line-height: 30px;
	margin-bottom: 12px;
}
.lm-homework-des-sec {
	padding-top: 80px;
}
.lm-homework-des-sec .lm-homework-des-top-bar{
	position: relative;
	background: -ms-linear-gradient(330.98deg, #3C8A3D 2.71%, #47A348 61.2%), #47A348;
	background: -webkit-linear-gradient(330.98deg, #3C8A3D 2.71%, #47A348 61.2%), #47A348;
	background: linear-gradient(330.98deg, #3C8A3D 2.71%, #47A348 61.2%), #47A348;
	box-shadow: 0px 18px 30px #F0F2F6;
	border-radius: 6px;
	padding: 52px 270px 43px 33px;
}
.lm-homework-des-sec .lm-homework-des-top-bar h3{
	line-height: 45px;
	color: #FFFFFF;
}
.lm-homework-des-sec .lm-homework-des-top-bar a{
	display: inline-block;
	vertical-align: baseline;
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	text-transform: uppercase;
	color: #FFFFFF;
	padding: 15px 20px;
	border: 2px solid #FFFFFF;
	box-sizing: border-box;
	border-radius: 6px;
	position: absolute;
	right: 30px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	   -moz-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	     -o-transform: translateY(-50%);
	        transform: translateY(-50%);
}
.lm-homework-des-sec .lm-homework-des-top-bar a:hover{
	color: #47A348;
	background: #fff;
}
.lm-homework-des-hdr{
	padding: 75px 0 46px;
	border-bottom: 3px solid #F8F9FA;
}
.lm-homework-des-hdr-lft{
	width:51%;
	float: left;
	padding-right: 15px;
}
.lm-homework-des-hdr-rgt{
	width:49%;
	float: left;	
}
.lm-homework-des-hdr p{
	font-size: 18px;
	line-height: 32px;
}
.lm-homework-des-main-con{
	padding: 60px 0 100px;
	display: flex;
	align-items:center;
	justify-content: center;
}
.lm-homework-des-bq{
	width:40.72%;
	order: 1;
	background: #FFFFFF;
	box-shadow: 0px 18px 30px #F0F2F6;
	border-radius: 6px;
	padding: 35px 60px 40px 50px;
	min-height: 470px;
}
.lm-homework-des-main{
	width:59.28%;
	order: 2;
	padding-left: 138px;
	padding-top: 35px;
}
.lm-homework-des-bq i{
	max-width:71px;
	display: block;
	margin-bottom: 28px;
}
.lm-homework-des-bq img{
	width:100%;
}
.lm-homework-des-bq p{
	font-style: italic;
	font-weight: 200;
	font-size: 30px;
	line-height: 48px;
	margin-bottom: 5px;
}
.lm-homework-des-bq span{
	display: block;
	font-weight: 500;
	font-size: 18px;
	line-height: 56px;
}
.lm-homework-des-main p{
	margin-bottom: 26px;
}
.lm-homework-des-main ol {
    margin: 0;
	padding: 0;
	list-style: none;
	padding: 10px 0 18px;
}
.lm-homework-des-main ol li {
    -ms-counter-increment: my-awesome-counter;
    -webkit-counter-increment: my-awesome-counter;
    counter-increment: my-awesome-counter;
    padding-bottom: 12px;
    font-size: 14px;
	line-height: 20px;
}
.lm-homework-des-main ol li::before {
    content: counter(my-awesome-counter) ". ";
    font-weight: 600;
	font-size: 14px;
	line-height: 20px;
	color: #47A348;
	margin-right: 15px;

}
#lm-footer-top-dsc-sec .footer-top-dsc-wrp {
    margin-bottom: 75px;
}







/*=======================
 	Responsive Design
========================*/




@media(max-width: 1849px){
	.lm-mauris-aliquam-img:after {
	    top: -108px;
	    right: -111px;
	}

}


@media(max-width: 1649px){
	.lm-mauris-aliquam-img:after {
	    content: none;
	}

}


@media(max-width: 1399px){
	.lm-social-platform-head h1{
		line-height: 65px;
		margin-bottom: 15px;
	}
	.lm-mauris-aliquam-des h2,
	.lm-social-platform-map-hdr h2 {
	    line-height: 60px;
	}
}


@media(max-width: 1199px){
	.lm-social-platform-head h1{
		line-height: 60px;
	}
	.lm-mauris-aliquam-des h2,
	.lm-social-platform-map-hdr h2,
	.lm-social-platform-map-hdr #continents-data strong{
	    line-height: 55px;
	}
	.lm-mauris-aliquam-des {
	    padding: 58px 70px 90px 0;
	}
	.lm-community-features .lmCommunitySlider-item {
	    padding: 25px 10px 35px 155px;
	}
	.lm-homework-des-sec .lm-homework-des-top-bar{
		padding: 45px 30px;
	}
	.lm-homework-des-sec .lm-homework-des-top-bar h3{
		margin-bottom: 30px;
	}
	.lm-homework-des-sec .lm-homework-des-top-bar a{
		position: static;
		-webkit-transform: initial!important;
		   -moz-transform: initial!important;
		    -ms-transform: initial!important;
		     -o-transform: initial!important;
		        transform: initial!important;
	}
	.lm-homework-des-bq {
		width: 45%;
	    padding: 35px 30px 40px;
	}
	.lm-homework-des-main {
	    width: 55%;
	    padding-left: 80px;
	    padding-top: 35px;
	}
	.lm-homework-des-top-bar{
		text-align: center;
	}
}

@media(max-width: 1023px){
	.lm-homework-des-sec {
	    padding-top: 40px;
	}
}

@media(max-width: 991px){
	.lm-social-platform-sec {
	    padding-top: 70px;
	}
	.lm-social-platform-head h1{
		line-height: 55px;
	}
	.lm-mauris-aliquam-des h2,
	.lm-social-platform-map-hdr h2,
	.lm-social-platform-map-hdr #continents-data strong{
	    line-height: 50px;
	}
	.lm-social-platform-block .lmSocialSilder-item {
	    width: 50%;
	}
	.lm-social-platform-block .lmSocialSilder-item:nth-child(4n+1) {
	    clear: initial;
	}
	.lm-social-platform-block .lmSocialSilder-item:nth-child(2n+1) {
	    clear: left;
	}
	.lm-mauris-aliquam-innr {
	    display: block;
	}
	.lm-mauris-aliquam-img {
	    width: 100%;
	    text-align: center;
	}
	.lm-mauris-aliquam-sec{
		padding-top: 50px;
	}
	.lm-mauris-aliquam-des {
	    padding: 30px 0px 50px;
	    width: 100%;
	}
	.lm-mauris-aliquam-des h2 {
	    margin-bottom: 22px;
	    text-align: center;
	}
	.lm-community-features .lmCommunitySlider-item i {
	    top: 13px;
	    max-width: 120px;
	}
	.lm-community-features .lmCommunitySlider-item {
	    padding: 18px 10px 18px 125px;
	}
	.lm-homework-des-hdr-lft {
	    width: 100%;
	    padding-right: 0;
	}
	.lm-homework-des-hdr-rgt {
	    width: 100%;
	    padding-top: 10px;
	}
	.lm-homework-des-hdr p {
	    font-size: 15px;
	    line-height: 24px;
	}
	.lm-homework-des-hdr {
	    padding: 50px 0 30px;
	}
	.lm-homework-des-main-con {
	    padding: 50px 0;
	    display: block;
	}
	.lm-homework-des-bq {
		width: 100%;
	    padding: 35px 20px;
	    max-width: 550px;
	    float: none;
	    margin: 0 auto 20px;
	}
	.lm-homework-des-main {
	    width: 100%;
	    padding-left: 0;
	    padding-top: 30px;
	}
	.lm-homework-des-bq p {
	    font-style: italic;
	    font-weight: 200;
	    font-size: 25px;
	    line-height: 36px;
	    margin-bottom: 5px;
	}
	.lm-homework-des-main p {
	    margin-bottom: 20px;
	}
	.lm-homework-des-hdr {
	    padding: 50px 0 30px;
	}
	.lm-homework-des-hdr-rgt,
	.lm-homework-des-hdr-lft{
	    margin: 0 auto;
	    max-width: 650px;
	    float: none;
	}
	.lm-homework-des-hdr-lft br{
	   display: none;
	}
	.lm-community-innr{
		padding-top: 60px;
	}
	.lm-homework-des-sec {
	    padding-top: 0;
	}
	.our-community-des{
		padding-top: 30px;
		padding-right: 100px;
	}
}


@media(max-width: 767px){
	.lm-social-platform-head h1{
		line-height: 50px;
	}
	.lm-mauris-aliquam-des h2,
	.lm-social-platform-map-hdr h2,
	.lm-social-platform-map-hdr #continents-data strong{
	    line-height: 45px;
	}
	.lm-homework-des-sec .lm-homework-des-top-bar h3{
		line-height: 40px;
	}
	.lm-social-platform-sec {
	    padding-top: 50px;
	}
	.lm-social-platform-block .lmSocialSilder-item {
	    width: 100%;
	}
	.lm-social-platform-block .lmSocialSilder-item:nth-child(3n+1) {
	    clear: initial;
	}
	.lm-social-platform-block .lmSocialSilder-item:nth-child(2n+1) {
	    clear: initial;
	}
	.lm-community-head {
	    padding-bottom: 12px;
	}
	.lm-community-features .lmCommunitySlider-item:nth-child(2n+1) {
	    clear: initial;
	}
	.lm-community-features .lmCommunitySlider-item {
	    width: 100%;
	    padding: 20px 20px 10px;
	    text-align: center;
	}
	.lm-community-features .lmCommunitySlider-item i {
	    position: static;
	    max-width: 170px;
	    margin-bottom: 10px;
	}
	.lmSocialSilder-1 .slick-slide img,
	.lmSocialSilder-2 .slick-slide img {
	    display: block;
	    margin: auto;
	}
	.lm-homework-des-hdr-rgt {
    	padding-top: 0;
	}
	.lm-homework-des-hdr p {
	    font-size: 14px;
	    line-height: 24px;
	}
	.lm-community-innr {
	    padding: 50px 0 30px;
	}
	.lm-community-head p {
	    font-size: 14px;
	    line-height: 24px;
	    text-align: center;
	}

	.lmCommunitySlider.xs-pagi-ctrl .slick-dots,
	.lmSocialSilder-1.xs-pagi-ctrl .slick-dots,
	.lmSocialSilder-2.xs-pagi-ctrl .slick-dots {
	    margin-top: 10px;
	}

	.lmSocialSilder-1-arrows .slide-next-btn,
	.lmSocialSilder-2-arrows .slide-next-btn,
	.lmSocialSilder-1-arrows .slide-prev-btn,
	.lmSocialSilder-2-arrows .slide-prev-btn {
	    bottom: 45px;
	}
	.lmCommunitySlider-arrows .slide-prev-btn, 
	.lmCommunitySlider-arrows .slide-next-btn{
	    bottom: -4px;
	}
	.lm-social-platform-map-hdr {
	    padding-bottom: 30px;
	}
	.our-community-des{
		padding-right: 0;
	}
}


@media(max-width: 639px){

}


@media(max-width: 575px){
	.lm-social-platform-head h1{
		line-height: 45px;
	}
	.lm-mauris-aliquam-des h2,
	.lm-social-platform-map-hdr h2 {
	    line-height: 40px;
	}
	.lm-homework-des-sec .lm-homework-des-top-bar h3{
		line-height: 35px;
	}
	.lm-social-platform-tag a {
	    font-size: 14px;
	    line-height: 20px;
	    padding: 13px 13px;
	    margin-right: 15px;
	}
	.lm-community-features .lmCommunitySlider-item h6{
		line-height: 27px;
		margin-bottom: 10px;
	}
	.lm-homework-des-sec .lm-homework-des-top-bar {
	    text-align: center;
	}
	.lm-social-platform-tab-trg a {
	    margin: 5px 7px;
	}
	.footer-top-dsc h3 span {
	    padding: 0 0 0 45px;
	    background-size: 38px auto;
	}
}


@media(max-width: 479px){
	.lm-social-platform-tag a {
		max-width: 330px;
		width: 100%;
		margin: 10px auto;
	    padding: 15px 13px;
	}
}


@media(max-width: 359px){

}
 




