body.vt-drk-page-ctlr{
	background-color: #141c28;
	color: #fff;
}
body.vt-drk-page-ctlr h1,
body.vt-drk-page-ctlr h2,
body.vt-drk-page-ctlr h3,
body.vt-drk-page-ctlr h4,
body.vt-drk-page-ctlr h5,
body.vt-drk-page-ctlr h6{
	color: #fff;
}
/*body.vt-drk-page-ctlr .footer-top{
	background-color: #141c28;
}*/

body.vt-drk-page-ctlr .ftr-col-innr{
	border-top: 3px solid rgba(248, 249, 250, 0.04);
}

body.vt-drk-page-ctlr .ftr-menu-item ul li a,
body.vt-drk-page-ctlr .hdr-btm-menu ul li a,
body.vt-drk-page-ctlr nav.main-nav ul li a{
	color: #fff;
}
body.vt-drk-page-ctlr .ftr-btm-menu ul li a,
body.vt-drk-page-ctlr .ftr-btm-rgt a{
	color: #66697A!important;
}

body.vt-drk-page-ctlr .header-btm{
	background: linear-gradient(90deg, #141C28 0%, #0E1520 48.44%, #072C10 100%), #F8F8F8;
}
body.vt-drk-page-ctlr .hdr-btm-menu ul li.current-menu-item a, 
body.vt-drk-page-ctlr .hdr-btm-menu ul li a:hover {
    color: #47a348;
}
body.vt-drk-page-ctlr .ftr-menu-item ul li a:hover, 
body.vt-drk-page-ctlr .hdr-btm-menu ul li a:hover,
body.vt-drk-page-ctlr nav.main-nav ul li a:hover,
body.vt-drk-page-ctlr .ftr-btm-menu ul li a:hover,
body.vt-drk-page-ctlr .ftr-btm-rgt a:hover{
	color: #3C8B3D!important;
}

body.vt-drk-page-ctlr .footer-top{
	padding-top: 0;
}

body.vt-drk-page-ctlr .header{
	background: transparent;
}

body.vt-drk-page-ctlr  .ftr-btm-menu ul li a:after{
	background: #66697A;
}


/*
---------------------
 Cookie Css
---------------------
*/
.cookie-policy-wrp{
	position: fixed;
	right: 25px;
	top: 30%;
	z-index: 102;
	width: 440px;
	color: #fff;
}
.cookie-policy-dsc{
	padding: 30px 30px;
	color: #fff;
	width: 440px;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	background: url(../images/cookie-bg.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	padding: 120px 70px 80px 60px;
	position: relative;
}
.cookie-policy-dsc h4,
.cookie-policy-dsc strong{
	font-weight: 600;
	font-size: 24px;
	line-height: 30px;
	color: #fff;
	margin-bottom: 10px;
}
.cookie-policy-dsc > a {
	display: inline-block;
	vertical-align: baseline;
	padding: 0 25px 0;
	color: #fff;
	margin-bottom: 25px;
	position: relative;
	font-weight: 600;
	font-size: 14px;
	line-height: 20px;
}
.cookie-policy-dsc > a:after{
	content: "";
	position: absolute;
	right: 0;
	top: 6px;
	background-image: url(../images/cookie-more-btn-icon.svg);
	background-repeat: no-repeat;
	width: 12px;
	height: 10px;
	background-size: 100% auto;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}
.cookie-policy-dsc > a:hover:after{
	right: -5px;
}
.cookie-btn {
	
}
.cookie-btn a {
    display: inline-block;
    vertical-align: baseline;
    border: 2px solid #F5F6F8;
    border-radius: 6px;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
    height: 48px;
    padding: 11px 30px;
}
.cookie-btn a:hover{
	background-color: #fff;
	border-color: #fff;
	color: #10303C;
}

.cross-white {
    position: absolute;
    right: 28px;
    top: 69px;
    width: 49px;
    height: 49px;
    background-color: #10303C;
    border-radius: 100% 100%;
    text-align: center;
    display: inline-block;
    vertical-align: baseline;
    cursor: pointer;
    background-image: url(../images/x.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 11px 14px;
   	transition: all 0.5s;
	-ms-transition: all 0.5s;
}
.cross-white:hover{
	background-color: #47A348;
}