@media(max-width: 1199px){
	.hide-lg{
		display: none!important;
	}
	.show-lg{
		display: block!important;
	}
	h1{
		font-size: 60px;
	}
}

@media(max-width: 991px){
	.hide-md{
		display: none!important;
	}
	.show-md{
		display: block!important;
	}
	h1{
		font-size: 50px;
	}
	h2{
		font-size: 45px ;
	}
	h3{
		font-size: 40px;
	}
	h4{
		font-size: 35px;
	}
	h5{
		font-size: 30px;
	}
	h6{
		font-size: 24px;
	}
}

@media(max-width: 767px){
	.hide-sm{
		display: none!important;
	}
	.show-sm{
		display: block!important;
	}
	h1{
		font-size: 45px;
	}
	h2{
		font-size: 40px ;
	}
	h3{
		font-size: 35px;
	}
	h4{
		font-size: 30px;
	}
	h5{
		font-size: 27px;
	}
	h6{
		font-size: 23px;
	}

}


@media(max-width: 575px){
	.hide-xs{
		display: none!important;
	}
	.show-xs{
		display: block!important;
	}
	h1{
		font-size: 40px;
	}
	h2{
		font-size: 35px ;
	}
	h3{
		font-size: 30px;
	}
	h4{
		font-size: 28px;
	}
	h5{
		font-size: 24px;
	}
	h6{
		font-size: 22px;
	}

}


@media(max-width: 479px){


}


@media(max-width: 359px){

}